.product-card{
    max-width: 300px;
    overflow: hidden;
    height: 500px;
    margin: 10px 0px;
    position: relative;
}

.product-card:hover{
    box-shadow: 1px 1px 5px #ddd;
}

.product-card img{
    width: 100%;
    height: auto;
    /* display: block; */
    /* object-fit: cover; */
}

.product-card:hover .product-card-image .product-heart-out{
    display: inline-block !important;
}

/* .product-heart-out:focus .product-heart-fill{
    display: inline-block !important;
} */

.product-heart-out:focus{
    display: none !important;
}

.product-heart{
    display: none !important;
    color: red !important;
}

.product-heart-fill{
    color: red !important;
}






.product-card-content h2{
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-transform: capitalize;
    cursor: pointer;
    color: #323232;
}
.product-card span{
    color: crimson;
}
.product-card-content p{
    width: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    height: 70px;
    overflow: hidden;
    color: #323232;
}
.row-btn{
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.row-btn a{
    width: 50%;
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 6px;
}
#btn-buy{
    background: #555;
    margin-right: 5px;
}
#btn-view{
    background: teal;
    margin-left: 5px;
}
.product-card input{
    position: absolute;
    width: 25px;
    height: 25px;
}