.product-card{
    max-width: 300px;
    overflow: hidden;
    height: 500px;
    margin: 10px 0px;
    position: relative;
}

.product-card:hover{
    box-shadow: 1px 1px 5px #ddd;
}

.product-card img{
    width: 100%;
    height: auto;
}

.product-heart-out:focus{
    display: none !important;
}

.product-heart{
    display: none !important;
    color: red !important;
}

.product-heart-fill{
    color: red !important;
}


.product-card-content h2{
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-transform: capitalize;
    cursor: pointer;
    color: #323232;
}

.product-card-content {
    margin-top: 20px;
    padding: 0px 15px;
}

.row-btn{
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.row-btn a{
    width: 50%;
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 6px;
}
.product-card input{
    position: absolute;
    width: 25px;
    height: 25px;
}

.button-add-card{
    display: none !important;
    color:white !important;
    border: 1px solid #dcdf58 !important;
    background-color: rgb(233, 209, 103)!important;
}

.product-card:hover .button-add-card{
    display: block !important;
}

.star {
    font-size: 14px !important;
    color: #fadb14 !important;
}

.price-product {
    color: #c96 ;
    margin-bottom: 1px;
}
